*{
    padding: 0;margin: 0;box-sizing: border-box;
}


.main{
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
     padding-top: 60px;
    /* justify-content: center; */
    align-items: center;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.input_class {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.input_class input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px; 
}
.input_class button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to left, #22cd12 50%, #0056b3 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
}

.input_class button:hover {
    background-position: 100% 0;
}


table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid black;
    /* border-radius: 0.75rem; */
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}
tr:hover {
    background-color: #f5f5f5;
}